body {
    background-image: url("https://i.pinimg.com/originals/ff/c3/8d/ffc38d9bce22d7a9eaa07b890e3af1a2.jpg");
background-size: cover;
}
.galery{
    text-align: center;
}
.galery img{
    width: 500px;
}

